//Setting
$directions:top left bottom right !default;

//Font
$base-font-size:13px !default;
$base-font-family:"Arial","Times New Roman","Microsoft JhengHei","PMingLiU" !default;

$pie-path:"/vendor/iefix/PIE/PIE.htc" !default;

//CSS3
$default-prefixes:webkit moz o ms !default;
$css3-prefixable-value:transform keyframe !default;




//AJAX
$ajax-loader-gif:"images/ajax-loader.gif" !default;
