{% extends "templates/base.tpl" %}

{% block content %}
<div class="slider">
  <div>
    <img src="http://placehold.it/350x150">
  </div>
  <div>
    <img src="http://placehold.it/350x150">
  </div>
  <div>
    <img src="http://placehold.it/350x150">
  </div>
  <div>
    <img src="http://placehold.it/350x150">
  </div>
  <div>
    <div class="box blue"></div>
  </div>
  <div>
    <div class="box red"></div>
  </div>
</div>
<div class="slider">
  <div>
    <img src="http://placehold.it/350x150">
  </div>
  <div>
    <img src="http://placehold.it/350x150">
  </div>
  <div>
    <img src="http://placehold.it/350x150">
  </div>
  <div>
    <img src="http://placehold.it/350x150">
  </div>
  <div>
    <div class="box blue"></div>
  </div>
  <div>
    <div class="box red"></div>
  </div>
</div>
<a href="/mission/about_us.html">about usss</a>
{% endblock %}
